.input-box {
  padding: 0.5rem 0.2rem;
  border-radius: 3px;
  border: 1px solid #ccc;  
  outline: none;
  transition: border-color 0.3s ease-in-out; 
  width: 50%;

  &:focus {
    border-color: dodgerblue;
  }
}
